/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.prueba .uno, .prueba .dos {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px; }

body {
  font-family: 'Roboto Slab', serif;
  background-color: #faf7f9; }

header {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
  padding: 5px; }
  header .producto-boton ul {
    list-style: none;
    display: flex;
    gap: 8px; }
    header .producto-boton ul li {
      display: inline-block; }
      header .producto-boton ul li a {
        text-decoration: none;
        color: black; }
      header .producto-boton ul li a:hover {
        background-color: antiquewhite; }

.prueba footer {
  text-align: center;
  margin-top: 5rem; }

footer {
  text-align: center;
  margin-top: 5rem; }

.contain footer {
  text-align: center;
  margin-top: 5rem; }

/*index*/
.contain {
  display: grid;
  gap: 20px;
  grid-template-areas: "header header header" "main main main" "section section asaid" "asaidd asaidd asaidd" "footer footer footer"; }
  .contain h1 {
    text-align: center; }
  .contain .menu {
    grid-area: header; }
  .contain .bienvenidos {
    grid-area: main;
    text-align: center; }
    .contain .bienvenidos .banner {
      display: none; }
  .contain .amigurumis {
    grid-area: section;
    background-color: #fae3f8;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px; }
  .contain .foto {
    grid-area: asaid;
    margin-right: 10px; }
  .contain .texto {
    grid-area: asaidd;
    background-color: #fae3f8;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px; }
  .contain .pie {
    grid-area: footer; }
  .contain footer {
    text-align: center;
    margin-top: 5rem; }

@media screen and (min-width: 1024px) {
  .contain .amigurumis {
    grid-area: section;
    background-color: #fae3f8;
    text-align: center;
    margin-left: 10px;
    padding-top: 70px; } }

@media screen and (min-width: 600px) {
  .contain {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr); }
    .contain main .banner {
      display: none; }
    .contain .amigurumis {
      padding-top: 40px; } }

/*sobre-nosotros*/
.prueba {
  height: 100vh;
  display: grid;
  gap: 20px;
  grid-template-areas: "header header header header" "main main main main" "section section section section" "sectionn sectionn aside aside" "footer footer footer footer"; }
  .prueba .cero {
    grid-area: header; }
  .prueba .uno {
    grid-area: main;
    text-align: center; }
  .prueba .dos {
    background-color: #fccaf5;
    grid-area: section;
    text-align: center; }
  .prueba .tres {
    background-color: #fae3f8;
    grid-area: sectionn;
    text-align: center;
    margin-left: 20px;
    padding: 20px; }
  .prueba .cuatro {
    background-color: #fae3f8;
    grid-area: aside;
    text-align: center;
    margin-right: 20px;
    padding: 20px; }
  .prueba .cinco {
    grid-area: footer; }

/*productos*/
.conoce-productos {
  padding: 25px;
  text-align: center;
  color: #f565d1; }

.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 50px 30px; }

@media screen and (min-width: 600px) {
  .contenedor {
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(3, 3fr); }
    .contenedor .item-siete {
      display: none; }
    .contenedor .item-ocho {
      display: none; } }

@media screen and (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(2, 3fr); }
    .contenedor .item-siete {
      display: block; }
    .contenedor .item-ocho {
      display: block; } }

/*contacto*/
.form {
  height: 55vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 50%);
  row-gap: 1rem; }
  .form .formulario form {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .form .mas-contactos {
    padding-top: 80px; }
    .form .mas-contactos .video {
      display: none; }

@media screen and (min-width: 600px) {
  .form .mas-contactos {
    padding-top: 15px; }
    .form .mas-contactos .video {
      display: block; }
  .contacts {
    padding-top: 60px; } }

@media screen and (min-width: 1024px) {
  .form .mas-contactos .video {
    display: block; }
  .contacts {
    padding-top: 60px; } }

/*sobre amigurumis*/
/*estilos boostrap*/
.nav-color {
  background-color: #fae3f8; }

.h2-color {
  background-color: #fae3f8; }
