/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "../utilidades/variables";
@import "../utilidades/extend";
@import "../utilidades/mixin";

//nesting

body{
    font-family:'Roboto Slab', serif;
    background-color: rgb(250, 247, 249);
}

header{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    padding: 5px;
    .producto-boton{
        ul{
            list-style: none;
            display: flex;
            gap: 8px;
            li{
                display: inline-block;
                a{
                    text-decoration: none;
                    color: black;
                }
                a:hover{
                    background-color: $color-tres ;
                }
            }
        }
    }
}

.prueba{
    footer{
        text-align: center;
        margin-top: 5rem
    }
}

footer{
    text-align: center;
    margin-top: 5rem
}

.contain{
    footer{
        text-align: center;
        margin-top: 5rem 
    }
}

/*index*/
.contain{
    display: grid;
    gap: 20px;

    grid-template-areas: 
    "header header header"
    "main main main"
    "section section asaid"
    "asaidd asaidd asaidd"
    "footer footer footer";
    h1{
        text-align: center;
    }
    .menu{
        grid-area: header;
    }
    .bienvenidos{
        grid-area: main;
        text-align: center;
        .banner{
            display: none;
        }
    }
    .amigurumis{
        grid-area: section;
        background-color: $color-dos;
        text-align: center;
        margin-left: 10px;
        padding-top: 10px;
    }
    .foto{
        grid-area: asaid;
        margin-right: 10px;
    }
    .texto{
        grid-area: asaidd;
        background-color: $color-dos;
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        padding: 15px;
    }
    .pie{
        grid-area: footer;
    }
    footer{
        text-align: center;
        margin-top: 5rem;
    }
}


@media screen and (min-width:1024px){
    .contain{
        .amigurumis{
            grid-area: section;
            background-color: $color-dos;
            text-align: center;
            margin-left: 10px;
            padding-top: 70px;
        }
    }
}


@media screen and (min-width:600px){
    .contain{
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 1fr);
        main{
            .banner{
                display: none;
            }
        }
        .amigurumis{
            padding-top: 40px;
        }
    }
}


/*sobre-nosotros*/
.prueba{
    @include grid;

    grid-template-areas: 
    "header header header header"
    "main main main main"
    "section section section section"
    "sectionn sectionn aside aside"
    "footer footer footer footer";

    .cero{
        grid-area: header;
    }
    .uno{
        grid-area: main;
        text-align: center;
        @extend %border;

    }
    .dos{
        background-color: $color-uno;
        grid-area: section;
        text-align: center;
        @extend %border; 
    }
    .tres{
        background-color: $color-dos;
        grid-area: sectionn;
        text-align: center;
        margin-left: 20px;
        padding: 20px;
    }
    .cuatro{
        background-color: $color-dos;
        grid-area: aside;
        text-align: center;
        margin-right: 20px;
        padding: 20px;
    }
    .cinco{
        grid-area: footer;
    }
}

/*productos*/
.conoce-productos{
    padding: 25px;
    text-align: center;
    color: rgb(245, 101, 209);
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 50px 30px;
}

@media screen and (min-width:600px){
    .contenedor{
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: repeat(3, 3fr) ;
        .item-siete{
            display: none;
        }
        .item-ocho{
            display: none;
        }
    }
}

@media screen and (min-width:1024px){
    .contenedor{
        grid-template-columns: repeat(4, 2fr) ;
        grid-template-rows: repeat(2,3fr) ;
        .item-siete{
            display: block;
        }
        .item-ocho{
            display: block;
        }
    }

}

/*contacto*/
.form{
    height: 55vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(2, 50%);
    row-gap: 1rem;
    .formulario{
        form{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    } 
    .mas-contactos{
        padding-top: 80px;
        .video{
            display: none;
        }
    }
}

@media screen and (min-width:600px){
    .form{
        .mas-contactos{
            padding-top: 15px;
            .video{
                display: block;
            }
        }
    }
    .contacts{
        padding-top: 60px;
    }
}

@media screen and (min-width: 1024px){
    .form{
        .mas-contactos{
            .video{
                display: block;
            }
        }
    }
    .contacts{
        padding-top: 60px;
    }
}

/*sobre amigurumis*/
/*estilos boostrap*/
.nav-color{
    background-color: $color-dos;
}

.h2-color{
    background-color: $color-dos;
}




